body { padding : 0; margin : 10px; }
form { margin : 0; }
input { vertical-align : middle; }
h1 { margin : 0 0 10px 0; }
p { margin : 10px 0 10px 0; }
ul { margin-top : 10px; margin-bottom : 10px; }

#fq { width : 300px; font-family : Arial, sans-serif; font-size : 13px; padding-left : 4px; }

#search-results { width : 306px; border : 1px solid #000; background : #fff; display : none; float : left; }
* html div#search-results { width : 307px; } /* box model hack */
.sr, .srs { width : 100%; float : left; font-family : Arial, sans-serif; font-size : 13px; padding : 1px 0 0 0; }
.sr { background-color : #fff; color : #000; }
.srs { background-color : #36c; color : #fff; cursor : pointer; }
.sr .src { color : #008000; }
.srs .src { color : #fff; }
.srt { float : left; font-size : 13px; margin-left : 4px; }
.src { float : right; font-size : 10px; margin-right : 3px; padding-top : 2px; }