.Title {
	color: red;
	font-size: large;
	font-weight: bold;
}

.Intro {
	color: gray;
	font-size: medium;
	font-style: italic;
	border: 3px solid black;
	padding-left: 20px;
	padding-right: 20px;
	margin: 20px;
}

.Article {
	font-family: Arial, Helvetica;
	color: #606060;
	font-size: small;
	background-color: white;
}
