<html>
<head>
<script src="webeditor.properties.js"></script>
<title>HardCore Web Content Editor</title>
<script>

var error = "<%= error %>";
if (error == 'DISABLED') error = Text('disabled');

// Set href to URL for hyperlink
var href = "<%= href %>";

function requestParameter(name) {
	var value = "";
	if (start = request.indexOf("?"+name+"=")+1) {
		value = request.substring(start+name.length+1);
	} else if (start = request.indexOf("&"+name+"=")+1) {
		value = request.substring(start+name.length+1);
	}
	if (value.indexOf("&")+1) {
		value = value.substring(0, value.indexOf("&"));
	}
	value = unescape(value);
	return value;
}

var request = "" + window.location;
editor = requestParameter("editor");
request_action = '<%= Request.Form.Get("action") %>';
request_id = requestParameter("id");
request_title = '<%= Request.Form.Get("title") %>';
request_url = requestParameter("url");
request_list = requestParameter("list");
if (! request_list) request_list = 'hyperlinklist.aspx?editor=' + editor;

</script>
</head>
<body>
<script>
	if (error != "") {
		parent.hyperlinklist.document.location.href = request_list;
		alert(error);
		document.location.href = 'hyperlinkinsert.aspx?editor=' + editor;
	} else {
		if (request_action == "Delete") {
			parent.ready_link = '';
			parent.ready_href = '';
			parent.hyperlinklist.document.location.href = request_list;
			document.location.href = 'hyperlinkinsert.aspx?editor=' + editor;
		} else {
			parent.ready_link = request_title;
			parent.ready_href = href;
			parent.hyperlinklist.document.location.href = request_list;
			document.location.href = 'hyperlinkinsert.aspx?editor=' + editor;
		}
	}
</script> 
</body>
</html>
